{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="12u">
			<section>
				<div>
					<div class="row">
						<div class="12u skel-cell-mainContent">
							<!-- Content -->
								<article class="box is-post">
									{% if article.picture is defined %}
									<div class="image image-full"><img src="{{ SITEURL }}/{{ article.picture }}"/><a href="{{ article.picturecopyrights }}" class="img-copy">{{ article.picturecopyrights }}</a></div>
									{% endif %}
									<div class="post-infos">
										<ul class="tags">
											{% if article.category %}
											<li><a class="button" href="{{ article.category.url }}">{{ article.category|capitalize }}</a></li>
											{% endif %}
											{% for tag in article.tags %}
												<li><a class="button button-alt" href="{{ tag.url }}">{{ tag|capitalize }}</a></li>

											{% endfor %}
										</ul>
									</div>

									<div class="pennant pennant-alt date">{{ article.date|strftime('%Y-%m-%d') }}</div>
									<h2>{{ article.title }}</h2>
									{% for tags in article.tags %}
									<!-- Create Iframe and show LiveFeed only if article is tagged as liveFeed-->
									{% if tags.name == "liveFeed" %}
									<p></br></p>
									<h3> Live feed from RGB camera  </h3>
									<iframe id="live_vis" name="live_vis" src="./images/vis.jpg" width="640" height="480">
									</iframe>
									<h3> Live feed from Thermographic camera  </h3>
									<hr>
									Camera status : <span id="message"></span>
									<hr>
									<img id="liveIRImg" width="640" height="480"></img>
									<p id="optional_text"></p>
									<!-- <iframe id="live_ir" name="live_ir" src="./images/ir.jpg" width="640" height="480">
									</iframe>
									<script>
									        window.setInterval("reloadIFrame();", 60000);
										//var visFrame=document.querySelector('iframe');
										var visFrame=document.getElementById('live_vis')
										var irFrame=document.getElementById('live_ir')
										function reloadIFrame() {
										visFrame.contentWindow.location.reload(true)
										irFrame.contentWindow.location.reload(true)
										}
									</script>
									-- >
									<!-- If not liveFeed then just display the content of article-->
									{% else %}
									{{article.content}}
									{% endif %}
									{% endfor %}
								</article>
								{% include 'disqus_script.html' %}
						</div>
					</div>
				</div>
			</section>
	</div>
</div>
{% endblock %}
